{% extends 'base.html.twig' %}

{% block title %}Warmup Plan - {{ warmupPlan.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Edit warmup plan
                </div>
                <div class="card-body">
                    {{ include('warmup_plan/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>{{ warmupPlan.name }}</span>
                    <a href="{{ path('warmup_plan_index') }}">Go back to Warmup plans</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Hourly Quota</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in warmupPlan.plan %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script>
        $('.csv-data-input').on("change input paste keyup", function () {
            var data = $('.csv-data-input').val();
            var rows = data.split(",");
            var valid = true;

            var table = $('<table class="table table-bordered table-striped" />');

            var i = 1;
            for(var y in rows) {
                var cell = rows[y];
                var row = $('<tr />');
                if ((parseInt(cell) < 0) || (isNaN(parseInt(cell))) || (parseInt(cell).toString().length !== cell.length)) {
                    valid = false;
                }
                row.append('<td>Day ' + i++ + '</td>');
                row.append('<td>'+parseInt(cell)+'</td>');
                table.append(row);
            }

            if (valid) {
                $('#csv-table').html(table);
                $('.submit').attr("disabled", false);
            }
            else {
                $('#csv-table').html("<div class='alert alert-danger'>Provided data is not valid.</div>");
                $('.submit').attr("disabled", true);
            }
        });
    </script>

{% endblock %}
